
*{
    padding: 0;
    margin: 0;
    /* background-color: #1F2544; */
    background-color: #080e2c;
    color: rgb(233, 227, 227);
    
}
.container{
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */
        height: 100vh;
        width: 100vw;
        /* border: 1px solid black; */
        
}
.main{
    height: auto;
    width: 600px;
    height: 400px;
    border: 1px solid #86A788;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1.2rem;
    /* background-color: #474F7A; */
    background-color: #5F6F65;
    /* box-shadow: 5px 5px 20px 5px #629584; */
}
.main .input .entertask, .add{
    /* background-color: #474F7A; */
        background-color: #5F6F65;
}
.main .tasks .task{
    /* background-color: #474F7A; */
        background-color: #5F6F65;
}
.input{
    width: 400PX;
    margin: 0.8rem;
    padding: 0.8rem;
    /* background-color: #474F7A; */
        background-color: #5F6F65;
    display: flex;
    justify-content: flex-end;
    border-radius: 1rem;
        box-shadow: 0px 5px 20px 15px #585858ae;
}

input{
    width: 18rem;
    height: 3rem;
    border: 3px solid rgb(161, 159, 159);
    border-radius: 0.8rem;
    font-size: x-large;
    outline: none;
    background-color: #DCE4C9 !important;
    color: #C84C05;
    /* box-shadow: 5px 5px wheat; */
    padding-left: 0.5rem;
    
}
.add{
    margin:1rem;
    width: 8rem;
    height: 3rem;
    border-radius: 2rem;
    border: green;
    background-color: #215f0b;
    font-size: medium;
    margin-top: 5px;
    outline:none;
}

.tasks{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
}
.tasks .task{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

}
.task .todoItem,button{
    /* background-color: #474F7A; */
        background-color: #5F6F65;
    padding: 1rem;
    font-size: x-large;
}



.task .deletetodo{
    background-color: brown;
    border-radius: 2rem;
    border: #1F2544;
    margin: 10px;
    width: 8rem;
    height: 3.5rem;
    padding-top: 0.8rem;
}
.task .donetodo{
    background-color: rgb(17, 171, 158);
    border-radius: 2rem;
    border: #1F2544;
    width: 8rem;
    height: 3.5rem;
    padding-top: 0.8rem;
}

.date_time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.date_time .date{
    margin-left: 1rem;
}

.hrline{
    width: 100%;
    margin-top: 1rem;
}

